@model The_Post.Models.Article

<div class="p-2 col-lg-3 col-10">
    <div class="card mt-1 mb-3">   
        <div class="position-relative @(Model.IsArchived ? "archived-css" : "")">
            @* This div is for stretched-link focusing, so it only targets the Image and card-body *@
            <a asp-action="ViewArticle" asp-controller="Article" asp-route-articleID="@Model.Id" class="stretched-link"></a>
            <div class="ratio ratio-4x3 img-thumbnail">
                <img src="@Model.ImageSmallLink" data-original="@Model.ImageOriginalLink" class="card-img-top" alt="No Article Image">
            </div>
            <div class="card-body overflow-hidden" style="height:100px;">
                <h6 class="card-title">@Model.HeadLine</h6>                
            </div>
        </div>      
       
    </div>
</div>

